{% extends 'layout.html' %}

{% block content %}
<h2>THE ADMIN PAGE</h2>

<p>Here are all the users on the site:</p>
<ul>
    {% for other in users %}
    <li>{{ other.name }}
        <form action="{{ url_for('admin_user_delete', sessionid=session.id) }}" method="POST"
            style="display: inline !important;">
            <input hidden name="user" value="{{ other.id }}">
            <input type="submit" value="delete forever">
        </form>
        {% if other.oauth_accounts %}
        <details>
            <summary>OAuth2 Accounts</summary>
            <ul>
                {% for account in other.oauth_accounts %}
                <li>{{ account.provider }}: {{ account.email }}</li>
                {% endfor %}
            </ul>
        </details>
        {% endif %}
        <details>
            <summary>Recovery Phrase</summary>
            {{ other.id|recovery_phrase }}
        </details>
    </li>
    {% endfor %}
</ul>
{% endblock %}