{% extends 'layout.html' %}

{% block content %}
<form action="{{ url_for('user_edit') }}" method="post" id="userEditForm">
    <input type="submit" hidden />
</form>
<form action="{{ url_for('user_draw_tarot') }}" method="post" id="drawTarotForm"></form>
<form action="{{ url_for('user_draw_adjective') }}" method="post" id="drawAdjectiveForm"></form>
<form action="{{ url_for('user_decide', sessionid=session.id) }}" method="post" id="decideForm"></form>
<div>
    <p style="text-align: center; font-size: 20pt;">Your recovery phrase is "{{ user.recovery_phrase }}".</p>
    <p style="text-align: center; font-size: 20pt;">Your table number is {{ tableno }}.</p>
</div>
<div class="columns">
    <div>
        <h2>{{ user.name }} (You)</h2>
        <div class="formcontainer">
            <input class="clickToEdit" name="name" value="{{ user.name }}" form="userEditForm"></h2>
            <button type="submit" name="drawTarotButton" value="drawTarot" form="drawTarotForm">Redraw Tarot</button>
            <button type="submit" name="drawAdjectiveButton" value="drawAdjective" form="drawAdjectiveForm">Redraw
                Adjective</button>
        </div>
        <img src="{{ url_for('static', filename=card.svg_filename) }}" alt="image here">
        <p><a href="{{ url_for('tarot_page', index=user.tarot) }}">Explain my tarot!</a></p>
    </div>
    <div>
        {% if other_user %}
        <h2>{{ other_user.name }} (Them)</h2>
        {% if no_decision %}
        <div class="formcontainer">
            <button class="goodoption" type="submit" name="decide_yes" value="1" form="decideForm">Yes</button>
            <button class="badoption" type="submit" name="decide_no" value="-1" form="decideForm">No</button>
        </div>
        {% else %}
        <p>Thanks for casting judgement!</p>
        {% endif %}
        <img src="{{ url_for('static', filename=other_card.svg_filename) }}" alt="image here">
        <p><a href="{{ url_for('tarot_page', index=other_user.tarot) }}">Explain their tarot!</a></p>
        {% else %}
        <p>Waiting for the host to run matchmaking...</p>
        {% endif %}
    </div>
</div>
{% if recommendations %}
<div>
    <h3>Matching Statistics</h3>
    <p>Here's how similar your preferences are to other people:</p>
    <table>
        <tr>
            <th>Other User</th>
            <th>Similarity</th>
        </tr>
        {% for similarity in similarities %}
        <tr>
            <td>{{ similarity.object.name }}</td>
            <td>{{ similarity.weight }}</td>
        </tr>
        {% endfor %}
    </table>
    <p>Here are your matching weights from the last round:</p>
    <table>
        <tr>
            <th>Other User</th>
            <th>Weight</th>
        </tr>
        {% for recommendation in recommendations %}
        <tr>
            {% if other_user.id == recommendation.object.id %}
            <td><b>{{ recommendation.object.name }}</b></td>
            <td><b>{{ recommendation.weight }}</b></td>
            {% else %}
            <td>{{ recommendation.object.name }}</td>
            <td>{{ recommendation.weight }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
{% endblock %}