{% extends 'layout.html' %}

{% block content %}
<form action="{{ url_for('user_decide', sessionid=session.id) }}" method="post" id="decideForm"></form>
{% if other_user %}
<p style="text-align: center; font-size: 20pt;">Your table number is {{ tableno }}.</p>
<p><b>Contact prompt:</b> {{ contact_prompt }}</p>
<p><b>Conversation prompt:</b> &OpenCurlyDoubleQuote;{{ convo_prompt }}&CloseCurlyDoubleQuote;</p>
<div>
    <h2>{{ other_user.name }} (Them)</h2>
    {% if no_decision %}
    <div class="formcontainer">
        <button class="goodoption" type="submit" name="decide_yes" value="1" form="decideForm">Yes</button>
        <button class="badoption" type="submit" name="decide_no" value="-1" form="decideForm">No</button>
    </div>
    {% else %}
    <p>Thanks for casting judgement!</p>
    {% endif %}
    <img src="{{ url_for('static', filename=other_card.svg_filename) }}" alt="image here">
    <p><a href="{{ url_for('tarot_page', index=other_user.tarot) }}">Explain their tarot!</a></p>
</div>
{% else %}
<p style="text-align: center; font-size: 20pt;">Waiting for the host to run matchmaking...</p>
{% endif %}
<p>You have {{ matches|length }} match{% if matches|length != 1 %}es{% endif %} this session.</p>
{% if matches %}
<ul>
    {% for other in matches %}
    <li><b>{{ other.name }}:</b> {% if other.details %}{{ other.details }}{% else %}This user has not entered contact
        details.{% endif %}</li>
    {% endfor %}
</ul>
{% endif %}
{% if recommendations %}
<div>
    <h3>Matching Statistics</h3>
    <p>Here's how similar your preferences are to other people:</p>
    <table>
        <tr>
            <th>Other User</th>
            <th>Similarity</th>
        </tr>
        {% for similarity in similarities %}
        <tr>
            <td>{{ similarity.object.name }}</td>
            <td>{{ similarity.weight }}</td>
        </tr>
        {% endfor %}
    </table>
    <p>Here are your matching weights from the last round:</p>
    <table>
        <tr>
            <th>Other User</th>
            <th>Weight</th>
        </tr>
        {% for recommendation in recommendations %}
        <tr>
            {% if other_user.id == recommendation.object.id %}
            <td><b>{{ recommendation.object.name }}</b></td>
            <td><b>{{ recommendation.weight }}</b></td>
            {% else %}
            <td>{{ recommendation.object.name }}</td>
            <td>{{ recommendation.weight }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
<p><a href="{{ url_for('session_page', sessionid=session.id) }}">Return to session page</a></p>
{% endblock %}