{% extends 'layout.html' %}

{% block content %}
<div style="display: block; float: right">
    <p>
        <a href="{{ url_for('matchmaker_page', sessionid=session.id) }}">
            Join the session
        </a>
    </p>
    {{ url_for('matchmaker_page', _external=True, sessionid=session.id) | qr }}
</div>

<h2>{{ session.name }}</h2>
<p>Owner: {{ session.owner.name }} {% if admin %}<span style="color: red">(you!)</span>{% endif %}</p>

{% if admin %}
<form action="{{ url_for('matchmake', sessionid=session.id) }}" method="post">
    <input type="submit" value="Run Matchmaking">
</form>
<form action="{{ url_for('session_end', sessionid=session.id) }}" method="post">
    <input type="submit" value="stop">
</form>
{% endif %}

{% if dates %}
<table>
    <tr>
        <th>Table</th>
        <th>Left</th>
        <th>Right</th>
    </tr>
    {% for date in dates %}
    <tr>
        <td>{{ date.tableno }}</td>
        <td>
            <span class="{% if date.decision_left is not none %}decided{% else %}undecided{% endif %}">
                {{ date.left.name }}
            </span>
        </td>
        <td>
            <span class="{% if date.decision_right is not none %}decided{% else %}undecided{% endif %}">
                {{ date.right.name }}
            </span>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% if matches %}
<p>Found {{ matches|length }} match{% if matches|length != 1 %}es{% endif %} so far:</p>
<ul>
    {% for left, right in matches %}
    <li><b>{{ left.name }}</b> and <b>{{ right.name }}</b></li>
    {% endfor %}
</ul>
{% endif %}
<p>{{ users|length }} user{% if users|length > 1 %}s have{% else %} has{% endif %} joined the session:</p>
<ul>
    {% for other in users %}
    <li>{{ other.name }}
        {% if admin %}
        <form action="{{ url_for('session_kick', sessionid=session.id) }}" method="POST"
            style="display: inline !important;">
            <input hidden name="user" value="{{ other.id }}">
            <input type="submit" value="kick">
        </form>
        <form action="{{ url_for('session_ban', sessionid=session.id) }}" method="POST"
            style="display: inline !important;">
            <input hidden name="user" value="{{ other.id }}">
            <input type="submit" value="ban">
        </form>
        <details>
            <summary>Recovery Phrase</summary>
            {{ other.id|recovery_phrase }}
        </details>
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% if banned %}
<p>{{ banned|length }} user{% if banned|length > 1 %}s are{% else %} is{% endif %} banned from the session:</p>
<ul>
    {% for other in banned %}
    <li>{{ other.name }}
        {% if admin %}
        <form action="{{ url_for('session_revoke_ban', sessionid=session.id) }}" method="POST"
            style="display: inline !important;">
            <input hidden name="user" value="{{ other.id }}">
            <input type="submit" value="revoke ban">
        </form>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}

<h3>Date history:</h3>
{% if decisions %}
{% if admin %}
<form action="{{ url_for('session_edit_dates', sessionid=session.id) }}" method="POST">
    {% endif %}
    <table class="vheader">
        <tr>
            <th></th>
            {% for user in users %}
            <th>{{ user.name }}</th>
            {% endfor %}
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            {% for other in users %}
            <td>
                {% if admin %}
                {% if user.id != other.id %}
                <select name="decision_{{ user.id }}_{{ other.id }}">
                    <option value="Y" {% if decisions[user.id][other.id]=="Y" %}selected{% endif %}>Y</option>
                    <option value="N" {% if decisions[user.id][other.id]=="N" %}selected{% endif %}>N</option>
                    <option value="?" {% if decisions[user.id][other.id]=="?" %}selected{% endif %}>?</option>
                    <option value="-" {% if not decisions[user.id][other.id] %}selected{% endif %}>-</option>
                </select>
                {% endif %}
                {% else %}
                {{ decisions[user.id][other.id] }}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% if admin %}
    <input type="submit">
</form>
{% endif %}
{% endif %}
{% if all_dates %}
<ul>
    {% for date in all_dates %}
    <li>
        {% if date.tableno < 0 %} <span style="color: red;">(virtual)</span>
            {% endif %}
            {{ date.left.name }} and {{ date.right.name }}
            {% if admin %}
            <form action="{{ url_for('session_delete_date', sessionid=session.id, dateid=date.id) }}" method="POST"
                style="display: inline !important;">
                <input type="submit" value="delete">
            </form>
            {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}


{% endblock %}