{% extends 'layout.html' %}

{% block content %}
<div style="display: block; float: right">
    <p>
        <a href="{{ url_for('matchmaker_page', sessionid=session.id) }}">
            Join the session
        </a>
    </p>
    {{ url_for('matchmaker_page', _external=True, sessionid=session.id) | qr }}
</div>

<h2>{{ session.name }}</h2>

<form action="{{ url_for('matchmake', sessionid=session.id) }}" method="post">
    <input type="submit" value="Run Matchmaking">
</form>
<form action="{{ url_for('session_end', sessionid=session.id) }}" method="post">
    <input type="submit" value="stop">
</form>

{% if dates %}
<table>
    <tr>
        <th>Table</th>
        <th>Left</th>
        <th>Right</th>
    </tr>
    {% for date in dates %}
    <tr>
        <td>{{ date.tableno }}</td>
        <td>
            <span class="{% if date.decision_left is not none %}decided{% else %}undecided{% endif %}">
                {{ date.left.name }}
            </span>
        </td>
        <td>
            <span class="{% if date.decision_right is not none %}decided{% else %}undecided{% endif %}">
                {{ date.right.name }}
            </span>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>{{ users|length }} user{% if users|length > 1 %}s have{% else %} has{% endif %} joined the
    session:
</p>
<ul>
    {% for user in users %}
    <li>{{ user.name }}</li>
    {% endfor %}
</ul>
{% endif %}
{% if decisions %}
<p>Date history:</p>
<table class="vheader">
    <tr>
        <th></th>
        {% for user in users %}
        <th>{{ user.name }}</th>
        {% endfor %}
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.name }}</td>
        {% for other in users %}
        <td>{{ decisions[user.id][other.id] }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}