{% extends 'layout.html' %}

{% block content %}
<form action="{{ url_for('user_logout') }}" method="post" id="logoutForm"></form>
<div style="text-align: right;">
    <button type="submit" name="logoutButton" value="logoutButton" form="logoutForm">Sign Out</button>
</div>

<h2>{{ user.name }}</h2>
{% if user.sessions %}
<p>You are part of {{ user.sessions|length }} session{% if user.sessions|length != 1%}s{% endif %}</p>
<ul>
    {% for session in user.sessions %}
    <li><a href="{{ url_for('matchmaker_page', sessionid=session.id) }}">{{ session.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% if matches %}
<p>You have {{ matches|length }} match{% if matches|length != 1 %}es{% endif %}</p>
<ul>
    {% for other in matches %}
    <li><b>{{ other.name }}:</b> {{ other.details }}</li>
    {% endfor %}
</ul>
{% endif %}

<h2>Edit</h2>
<p>Change your name:</p>
<form action="{{ url_for('user_edit') }}" method="post" class="formcontainer">
    <input class="clickToEdit textentry" name="name" value="{{ user.name }}">
    <input type="submit">
</form>
<form action="{{ url_for('user_draw_tarot') }}" method="post" id="drawTarotForm"></form>
<form action="{{ url_for('user_draw_adjective') }}" method="post" id="drawAdjectiveForm"></form>
<div class="formcontainer">
    <button type="submit" name="drawTarotButton" value="drawTarot" form="drawTarotForm">Redraw Tarot</button>
    <button type="submit" name="drawAdjectiveButton" value="drawAdjective" form="drawAdjectiveForm">Redraw
        Adjective</button>
</div>
<p>These details will be shown to people you match with:</p>
<div class="formcontainer">
    <input class="clickToEdit textentry" name="details" value="{{ user.details }}" form="userEditForm"></h2>
</div>
<img src="{{ url_for('static', filename=card.svg_filename) }}" alt="image here">
<p><a href="{{ url_for('tarot_page', index=user.tarot) }}">Explain my tarot!</a></p>

<h2>Recovery phrase</h2>
<p>Your recovery phrase is:</p>
<p style="text-align: center; font-size: 24pt;">{{ recovery_phrase }}</p>

<h2>Danger Zone</h2>
<p>
    This button deletes your account. Once deleted, your account <b>cannot be recovered</b>.
    It is immediately and irrevocably deleted from the database, in accordance with GDPR.
</p>
<form action="{{ url_for('user_delete') }}" method="post" id="logoutForm">
    <button type="submit" name="deleteButton" value="deleteButton">
        <span style="color: darkred">Delete your account</span>
    </button>
</form>
{% endblock %}